/* packages/tailwind-config/theme.css */

/* 1: dark mode strategy:
  - Primary: data-theme="dark"
  - Optional compatiblity: .dark (nextra/next-themes) */
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *, .dark, .dark *));

@theme {
  --breakpoint-3xl: 112rem;
  /* scale down to 90% of defaults */
  --spacing: 0.225rem;
  --spacing-page-x: 1.35rem;
  --spacing-page-y: 1.35rem;
  --size-header: 3.25rem;

  --font-custom: "Inter", sans-serif;

  --text-2xs: 0.5625rem;
  --text-xs: 0.675rem;
  --text-sm: 0.7875rem;
  --text-base: 0.9rem;
  --text-lg: 1.0125rem;
  --text-xl: 1.125rem;
  --text-2xl: 1.35rem;
  --text-3xl: 1.6875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 2.7rem;
  --text-6xl: 3.375rem;
  --text-7xl: 4.05rem;
  --text-8xl: 5.4rem;
  --text-9xl: 7.2rem;

  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
}

@layer base {
  :root,
  [data-theme="light"] {
    color-scheme: light !important;

    --background: 0 0% 100%;
    --foreground: 0 0% 10%;

    --color-primary-10: 229, 243, 250;
    --color-primary-20: 216, 237, 248;
    --color-primary-30: 199, 229, 244;
    --color-primary-40: 169, 214, 239;
    --color-primary-50: 144, 202, 234;
    --color-primary-60: 109, 186, 227;
    --color-primary-70: 75, 170, 221;
    --color-primary-80: 41, 154, 214;
    --color-primary-90: 34, 129, 180;
    --color-primary-100: 0, 99, 153;
    --color-primary-200: 0, 92, 143;
    --color-primary-300: 0, 86, 133;
    --color-primary-400: 0, 77, 117;
    --color-primary-500: 0, 66, 102;
    --color-primary-600: 0, 53, 82;
    --color-primary-700: 0, 43, 66;
    --color-primary-800: 0, 33, 51;
    --color-primary-900: 0, 23, 36;

    --color-error-10: 255, 252, 252;
    --color-error-20: 255, 247, 247;
    --color-error-30: 255, 219, 220;
    --color-error-100: 244, 170, 170;
    --color-error-200: 220, 62, 62;
    --color-error-500: 140, 51, 58;

    --color-background-primary: var(--color-primary-10);
    --color-background-error: var(--color-error-20);

    --color-text-100: 23, 23, 23;
    --color-text-200: 58, 58, 58;
    --color-text-300: 82, 82, 82;
    --color-text-350: 130, 130, 130;
    --color-text-400: 163, 163, 163;
    --color-text-primary: var(--color-primary-100);
    /* --color-text-error: var(--color-error-200); */

    --color-border-primary: var(--color-primary-40);
    --color-border-error: var(--color-error-100);

    --color-shadow-custom: 2px 2px 8px 2px rgba(234, 231, 250, 0.3);

    --color-sidebar-text-100: var(--color-text-100);
    --color-sidebar-text-200: var(--color-text-200);
    --color-sidebar-text-300: var(--color-text-300);
    --color-sidebar-text-400: var(--color-text-400);

    --color-sidebar-shadow-2xs: var(--color-shadow-2xs);
    --color-sidebar-shadow-xs: var(--color-shadow-xs);
    --color-sidebar-shadow-sm: var(--color-shadow-sm);
    --color-sidebar-shadow-rg: var(--color-shadow-rg);
    --color-sidebar-shadow-md: var(--color-shadow-md);
    --color-sidebar-shadow-lg: var(--color-shadow-lg);
    --color-sidebar-shadow-xl: var(--color-shadow-xl);
    --color-sidebar-shadow-2xl: var(--color-shadow-2xl);
    --color-sidebar-shadow-3xl: var(--color-shadow-3xl);
    --color-sidebar-shadow-4xl: var(--color-shadow-4xl);

    --color-onboarding-background-100: 236, 241, 255;
    --color-onboarding-background-200: 255, 255, 255;
    --color-onboarding-background-300: 236, 241, 255;
    --color-onboarding-background-400: 177, 206, 250;

    --color-onboarding-border-100: 229, 229, 229;
    --color-onboarding-border-200: 217, 228, 255;
    --color-onboarding-border-300: 229, 229, 229, 0.5;

    --color-onboarding-shadow-sm: 0px 4px 20px 0px rgba(126, 139, 171, 0.1);

    --color-pi-50: var(--color-background-90);
    --color-pi-100: var(--color-background-90);
    --color-pi-200: var(--color-primary-200);
    --color-pi-300: var(--color-primary-200);
    --color-pi-400: var(--color-primary-200);
    --color-pi-500: var(--color-primary-200);
    --color-pi-600: 151, 150, 246;
    --color-pi-700: var(--color-primary-100);
    --color-pi-800: 57, 56, 149;
    --color-pi-900: 30, 29, 78;
    --color-pi-950: 14, 14, 37;

    --color-background-100: 255, 255, 255; /* primary bg */
    --color-background-90: 247, 247, 247; /* secondary bg */
    --color-background-80: 232, 232, 232; /* tertiary bg */

    --color-border-100: 245, 245, 245; /* subtle border= 1 */
    --color-border-200: 229, 229, 229; /* subtle border- 2 */
    --color-border-300: 212, 212, 212; /* strong border- 1 */
    --color-border-400: 185, 185, 185; /* strong border- 2 */

    --color-sidebar-background-100: var(--color-background-100); /* primary sidebar bg */
    --color-sidebar-background-90: var(--color-background-90); /* secondary sidebar bg */
    --color-sidebar-background-80: var(--color-background-80); /* tertiary sidebar bg */

    --color-sidebar-border-100: var(--color-border-100); /* subtle sidebar border= 1 */
    --color-sidebar-border-200: var(--color-border-100); /* subtle sidebar border- 2 */
    --color-sidebar-border-300: var(--color-border-100); /* strong sidebar border- 1 */
    --color-sidebar-border-400: var(--color-border-100); /* strong sidebar border- 2 */

    --color-onboarding-text-100: 23, 23, 23;
    --color-onboarding-text-200: 58, 58, 58;
    --color-onboarding-text-300: 82, 82, 82;
    --color-onboarding-text-400: 163, 163, 163;
  }
  /*
 * HeroUI Theme Customization
 * Add this to your global.css after importing @heroui/styles
 * Only includes base variables from variables.css
 * @see https://v3.heroui.com/docs/react/getting-started/theming
 */

  .dark,
  [data-theme="dark"] {
    color-scheme: dark !important;

    --background: 0 0% 4%;
    --foreground: 0 0% 93%;

    /* primary color */
    --color-primary-10: 8, 31, 43;
    --color-primary-20: 10, 37, 51;
    --color-primary-30: 13, 49, 69;
    --color-primary-40: 16, 58, 81;
    --color-primary-50: 18, 68, 94;
    --color-primary-60: 23, 86, 120;
    --color-primary-70: 28, 104, 146;
    --color-primary-80: 31, 116, 163;
    --color-primary-90: 34, 129, 180;
    --color-primary-100: 40, 146, 204;
    --color-primary-200: 41, 154, 214;
    --color-primary-300: 75, 170, 221;
    --color-primary-400: 109, 186, 227;
    --color-primary-500: 144, 202, 234;
    --color-primary-600: 169, 214, 239;
    --color-primary-700: 199, 229, 244;
    --color-primary-800: 216, 237, 248;
    --color-primary-900: 229, 243, 250;

    --color-background-100: 25, 25, 25; /* primary bg */
    --color-background-90: 32, 32, 32; /* secondary bg */
    --color-background-80: 44, 44, 44; /* tertiary bg */

    --color-border-100: 34, 34, 34; /* subtle border= 1 */
    --color-border-200: 38, 38, 38; /* subtle border- 2 */
    --color-border-300: 46, 46, 46; /* strong border- 1 */
    --color-border-400: 58, 58, 58; /* strong border- 2 */

    --color-sidebar-border-100: var(--color-border-100); /* subtle sidebar border= 1 */
    --color-sidebar-border-200: var(--color-border-200); /* subtle sidebar border- 2 */
    --color-sidebar-border-300: var(--color-border-300); /* strong sidebar border- 1 */
    --color-sidebar-border-400: var(--color-border-400); /* strong sidebar border- 2 */

    --color-sidebar-background-80: var(--color-background-80); /* tertiary sidebar bg */

    --color-onboarding-text-100: 237, 238, 240;
    --color-onboarding-text-200: 176, 180, 187;
    --color-onboarding-text-300: 118, 123, 132;
    --color-onboarding-text-400: 105, 110, 119;

    --color-text-100: 229, 229, 229;
    --color-text-200: 163, 163, 163;
    --color-text-300: 115, 115, 115;
    --color-text-350: 130, 130, 130;
    --color-text-400: 82, 82, 82;
    --color-text-primary: var(--color-primary-100);
    /* --color-text-error: var(--color-error-200); */

    --color-background-primary: var(--color-primary-10);
    --color-background-error: var(--color-error-20);

    --color-border-primary: var(--color-primary-40);
    --color-border-error: var(--color-error-100);

    --color-sidebar-text-100: var(--color-text-100);
    --color-sidebar-text-200: var(--color-text-200);
    --color-sidebar-text-300: var(--color-text-300);
    --color-sidebar-text-400: var(--color-text-400);

    --color-onboarding-background-100: 54, 58, 64;
    --color-onboarding-background-200: 40, 42, 45;
    --color-onboarding-background-300: 40, 42, 45;
    --color-onboarding-background-400: 67, 72, 79;

    --color-onboarding-border-100: 54, 58, 64;
    --color-onboarding-border-200: 54, 58, 64;
    --color-onboarding-border-300: 34, 35, 38, 0.5;

    --color-onboarding-shadow-sm: 0px 4px 20px 0px rgba(39, 44, 56, 0.1);
  }
}

@theme inline {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-custom-primary-0: rgb(255 255 255);
  --color-custom-primary-10: rgb(var(--color-primary-10));
  --color-custom-primary-20: rgb(var(--color-primary-20));
  --color-custom-primary-30: rgb(var(--color-primary-30));
  --color-custom-primary-40: rgb(var(--color-primary-40));
  --color-custom-primary-50: rgb(var(--color-primary-50));
  --color-custom-primary-60: rgb(var(--color-primary-60));
  --color-custom-primary-70: rgb(var(--color-primary-70));
  --color-custom-primary-80: rgb(var(--color-primary-80));
  --color-custom-primary-90: rgb(var(--color-primary-90));
  --color-custom-primary-100: rgb(var(--color-primary-100));
  --color-custom-primary-200: rgb(var(--color-primary-200));
  --color-custom-primary-300: rgb(var(--color-primary-300));
  --color-custom-primary-400: rgb(var(--color-primary-400));
  --color-custom-primary-500: rgb(var(--color-primary-500));
  --color-custom-primary-600: rgb(var(--color-primary-600));
  --color-custom-primary-700: rgb(var(--color-primary-700));
  --color-custom-primary-800: rgb(var(--color-primary-800));
  --color-custom-primary-900: rgb(var(--color-primary-900));
  --color-custom-primary-1000: rgb(0 0 0);
  --color-custom-primary: rgb(var(--color-primary-100));

  /* custom.background */
  --color-custom-background-0: rgb(255 255 255);
  --color-custom-background-80: rgb(var(--color-background-80));
  --color-custom-background-90: rgb(var(--color-background-90));
  --color-custom-background-100: rgb(var(--color-background-100));
  --color-custom-background-overlay: rgba(var(--color-background-80), 0.95);
  --color-custom-background-primary: rgb(var(--color-background-primary));
  --color-custom-background-error: rgb(var(--color-background-error));
  --color-custom-background: rgb(var(--color-background-100));

  /* custom.text */
  --color-custom-text-0: rgb(255 255 255);
  --color-custom-text-100: rgb(var(--color-text-100));
  --color-custom-text-200: rgb(var(--color-text-200));
  --color-custom-text-300: rgb(var(--color-text-300));
  --color-custom-text-350: rgb(var(--color-text-350));
  --color-custom-text-400: rgb(var(--color-text-400));
  --color-custom-text-1000: rgb(0 0 0);
  --color-custom-text-primary: rgb(var(--color-text-primary));
  --color-custom-text-error: rgb(var(--color-text-error));
  --color-custom-text: rgb(var(--color-text-100));

  /* custom.border */
  --color-custom-border-0: rgb(255 255 255);
  --color-custom-border-100: rgb(var(--color-border-100));
  --color-custom-border-200: rgb(var(--color-border-200));
  --color-custom-border-300: rgb(var(--color-border-300));
  --color-custom-border-400: rgb(var(--color-border-400));
  --color-custom-border-1000: rgb(0 0 0);
  --color-custom-border-primary: rgb(var(--color-border-primary));
  --color-custom-border-error: rgb(var(--color-border-error));
  --color-custom-border: rgb(var(--color-border-200));

  /* custom.error */
  --color-custom-error-10: rgb(var(--color-error-10));
  --color-custom-error-20: rgb(var(--color-error-20));
  --color-custom-error-30: rgb(var(--color-error-30));
  --color-custom-error-100: rgb(var(--color-error-100));
  --color-custom-error-200: rgb(var(--color-error-200));
  --color-custom-error-500: rgb(var(--color-error-500));

  /* custom.sidebar.background */
  --color-custom-sidebar-background-0: rgb(255 255 255);
  --color-custom-sidebar-background-80: rgb(var(--color-sidebar-background-80));
  --color-custom-sidebar-background-90: rgb(var(--color-sidebar-background-90));
  --color-custom-sidebar-background-100: rgb(var(--color-sidebar-background-100));
  --color-custom-sidebar-background-1000: rgb(0 0 0);
  --color-custom-sidebar-background: rgb(var(--color-sidebar-background-100));

  /* custom.sidebar.text */
  --color-custom-sidebar-text-0: rgb(255 255 255);
  --color-custom-sidebar-text-100: rgb(var(--color-sidebar-text-100));
  --color-custom-sidebar-text-200: rgb(var(--color-sidebar-text-200));
  --color-custom-sidebar-text-300: rgb(var(--color-sidebar-text-300));
  --color-custom-sidebar-text-400: rgb(var(--color-sidebar-text-400));
  --color-custom-sidebar-text-1000: rgb(0 0 0);
  --color-custom-sidebar-text: rgb(var(--color-sidebar-text-100));

  /* custom.sidebar.border */
  --color-custom-sidebar-border-0: rgb(255 255 255);
  --color-custom-sidebar-border-100: rgb(var(--color-sidebar-border-100));
  --color-custom-sidebar-border-200: rgb(var(--color-sidebar-border-200));
  --color-custom-sidebar-border-300: rgb(var(--color-sidebar-border-300));
  --color-custom-sidebar-border-400: rgb(var(--color-sidebar-border-400));
  --color-custom-sidebar-border-1000: rgb(0 0 0);
  --color-custom-sidebar-border: rgb(var(--color-sidebar-border-200));

  --color-custom-backdrop: rgba(0, 0, 0, 0.25);

  --color-custom-scrollbar-neutral: rgba(96, 100, 108, 0.1);
  --color-custom-scrollbar-hover: rgba(96, 100, 108, 0.25);
  --color-custom-scrollbar-active: rgba(96, 100, 108, 0.7);

  /* onboarding */
  --color-onboarding-text-100: rgb(var(--color-onboarding-text-100));
  --color-onboarding-text-200: rgb(var(--color-onboarding-text-200));
  --color-onboarding-text-300: rgb(var(--color-onboarding-text-300));
  --color-onboarding-text-400: rgb(var(--color-onboarding-text-400));

  --color-onboarding-background-100: rgb(var(--color-onboarding-background-100));
  --color-onboarding-background-200: rgb(var(--color-onboarding-background-200));
  --color-onboarding-background-300: rgb(var(--color-onboarding-background-300));
  --color-onboarding-background-400: rgb(var(--color-onboarding-background-400));

  --color-onboarding-border-100: rgb(var(--color-onboarding-border-100));
  --color-onboarding-border-200: rgb(var(--color-onboarding-border-200));
  --color-onboarding-border-300: rgba(var(--color-onboarding-border-300));
}
