<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <appender
        name="OTEL"
        class="io.opentelemetry.instrumentation.logback.appender.v1_0.OpenTelemetryAppender">

        <captureMdcAttributes>
            X-Correlation-Id,X-Request-Id
        </captureMdcAttributes>

        <captureKeyValuePairAttributes>true</captureKeyValuePairAttributes>
        <captureMarkerAttribute>true</captureMarkerAttribute>
        <captureCodeAttributes>false</captureCodeAttributes>
        <captureExperimentalAttributes>false</captureExperimentalAttributes>
    </appender>

    <root level="${ROOT_LOG_LEVEL:-INFO}">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="OTEL" />
    </root>

</configuration>