SPRING_PROFILES_ACTIVE=local

CONFIG_SERVER_URL=http://localhost:8888
EUREKA_URL=http://localhost:8761/eureka
APP_WEB_URL="http://localhost:3000"
APP_BASE_URL_ADMIN="http://localhost:3001"
APP_BASE_URL_APP="http://localhost:3000"

# DB
INSTANCE_DB_URL=jdbc:postgresql://localhost:5432/syncturtle_instance
INSTANCE_DB_USER=instance_svc
INSTANCE_DB_PASSWORD=instance_svc_dev

USER_DB_URL=jdbc:postgresql://localhost:5432/syncturtle_user
USER_DB_USER=user_svc
USER_DB_PASSWORD=user_svc_dev

# OTEL Collector
OTLP_TRACES_ENDPOINT=http://localhost:14317
OTLP_METRICS_URL=http://localhost:14318/v1/metrics
OTLP_LOGS_ENDPOINT=http://localhost:14317

DEPLOYMENT_ENV=local
APP_SECURITY_ENCRYPTION_SECRET_KEY=
APP_SECURITY_CSRF_SIGNING_KEY=

SKIP_ENV_VAR=true